{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/sales_return_item_form.css' %}">
{% endblock %}

{% block content %}
<div class="sr-item-form-container">
    <div class="sr-item-form-row">
        <div class="sr-item-form-col">
            <div class="sr-item-form-card">
                <div class="sr-item-form-header">
                    <h4 class="sr-item-form-title">{{ title }}</h4>
                    <a href="{% url 'sales_return_detail' pk=return_invoice.return_sales_invoice_no %}" class="sr-item-form-back-btn">
                        <i class="sr-item-form-back-icon"></i> Back to Return
                    </a>
                </div>
                
                <div class="sr-item-form-body">
                    <form method="post" class="sr-item-form">
                        {% csrf_token %}
                        
                        <div class="sr-item-form-row-fields">
                            <div class="sr-item-form-col-field">
                                <div class="sr-item-form-group">
                                    <label for="{{ form.return_productid.id_for_label }}" class="sr-item-form-label sr-item-form-required">
                                        {{ form.return_productid.label }}
                                    </label>
                                    {{ form.return_productid }}
                                    {% if form.return_productid.errors %}
                                    <div class="sr-item-form-error">
                                        {{ form.return_productid.errors.0 }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="sr-item-form-col-field">
                                <div class="sr-item-form-group">
                                    <label for="{{ form.return_product_batch_no.id_for_label }}" class="sr-item-form-label sr-item-form-required">
                                        {{ form.return_product_batch_no.label }}
                                    </label>
                                    {{ form.return_product_batch_no }}
                                    {% if form.return_product_batch_no.errors %}
                                    <div class="sr-item-form-error">
                                        {{ form.return_product_batch_no.errors.0 }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.return_product_expiry.id_for_label }}" class="form-label required">
                                        {{ form.return_product_expiry.label }}
                                    </label>
                                    {{ form.return_product_expiry }}
                                    {% if form.return_product_expiry.errors %}
                                    <div class="invalid-feedback d-block">
                                        {{ form.return_product_expiry.errors.0 }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.return_product_MRP.id_for_label }}" class="form-label required">
                                        {{ form.return_product_MRP.label }}
                                    </label>
                                    {{ form.return_product_MRP }}
                                    {% if form.return_product_MRP.errors %}
                                    <div class="invalid-feedback d-block">
                                        {{ form.return_product_MRP.errors.0 }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.return_sale_rate.id_for_label }}" class="form-label required">
                                        {{ form.return_sale_rate.label }}
                                    </label>
                                    {{ form.return_sale_rate }}
                                    {% if form.return_sale_rate.errors %}
                                    <div class="invalid-feedback d-block">
                                        {{ form.return_sale_rate.errors.0 }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.return_sale_quantity.id_for_label }}" class="form-label required">
                                        {{ form.return_sale_quantity.label }}
                                    </label>
                                    {{ form.return_sale_quantity }}
                                    {% if form.return_sale_quantity.errors %}
                                    <div class="invalid-feedback d-block">
                                        {{ form.return_sale_quantity.errors.0 }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.return_sale_discount.id_for_label }}" class="form-label">
                                        {{ form.return_sale_discount.label }}
                                    </label>
                                    {{ form.return_sale_discount }}
                                    {% if form.return_sale_discount.errors %}
                                    <div class="invalid-feedback d-block">
                                        {{ form.return_sale_discount.errors.0 }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.return_sale_calculation_mode.id_for_label }}" class="form-label">
                                        {{ form.return_sale_calculation_mode.label }}
                                    </label>
                                    {{ form.return_sale_calculation_mode }}
                                    {% if form.return_sale_calculation_mode.errors %}
                                    <div class="invalid-feedback d-block">
                                        {{ form.return_sale_calculation_mode.errors.0 }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.return_sale_igst.id_for_label }}" class="form-label">
                                        {{ form.return_sale_igst.label }}
                                    </label>
                                    {{ form.return_sale_igst }}
                                    {% if form.return_sale_igst.errors %}
                                    <div class="invalid-feedback d-block">
                                        {{ form.return_sale_igst.errors.0 }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.return_sale_scheme.id_for_label }}" class="form-label">
                                        {{ form.return_sale_scheme.label }}
                                    </label>
                                    {{ form.return_sale_scheme }}
                                    {% if form.return_sale_scheme.errors %}
                                    <div class="invalid-feedback d-block">
                                        {{ form.return_sale_scheme.errors.0 }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="{{ form.return_reason.id_for_label }}" class="form-label">
                                {{ form.return_reason.label }}
                            </label>
                            {{ form.return_reason }}
                            {% if form.return_reason.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.return_reason.errors.0 }}
                            </div>
                            {% endif %}
                        </div>
                        
                        <div class="sr-item-form-actions">
                            <button type="submit" class="sr-item-form-submit-btn">
                                <i class="sr-item-form-save-icon"></i> {% if is_edit %}Update{% else %}Add{% endif %} Return Item
                            </button>
                            <a href="{% url 'sales_return_detail' pk=return_invoice.return_sales_invoice_no %}" class="sr-item-form-cancel-btn">
                                <i class="sr-item-form-cancel-icon"></i> Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}