{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/product_bulk_upload.css' %}">
{% endblock %}

{% block content %}
<div class="bulk-upload-container">
    <div class="bulk-upload-wrapper">
        <div class="bulk-upload-content">
            <h3 class="bulk-upload-title">Bulk Upload Products</h3>
            
            <div class="bulk-upload-instructions">
                <h5 class="instructions-title"><i class="fas fa-info-circle me-2"></i>Instructions:</h5>
                <ol class="instructions-list">
                    <li class="instruction-item">Download the CSV template using the button below.</li>
                    <li class="instruction-item">Fill in the product details in the CSV file. Each row represents one product.</li>
                    <li class="instruction-item">Save the file and upload it using the form below.</li>
                    <li class="instruction-item">Products will be created or updated if they already exist (matching by product name and company).</li>
                </ol>
            </div>
            
            <div class="template-download-section">
                <a href="?sample=true" class="template-download-btn">
                    <i class="fas fa-download me-2"></i>Download CSV Template
                </a>
            </div>
            
            <form method="post" enctype="multipart/form-data" class="bulk-upload-form">
                {% csrf_token %}
                
                <div class="file-input-group">
                    <label for="csv_file" class="file-input-label">CSV File</label>
                    <input type="file" name="csv_file" id="csv_file" class="file-input-field" required>
                    <div class="file-input-help">File must be a CSV file with headers.</div>
                </div>
                
                <div class="form-actions">
                    <a href="{% url 'product_list' %}" class="back-btn">
                        <i class="fas fa-arrow-left me-2"></i>Back to Products
                    </a>
                    <button type="submit" class="upload-submit-btn">
                        <i class="fas fa-upload me-2"></i>Upload
                    </button>
                </div>
            </form>
            
            <div class="csv-format-section">
                <h5 class="format-title">CSV Format</h5>
                <div class="format-table-wrapper">
                    <table class="csv-format-table">
                        <thead class="format-table-head">
                            <tr class="format-header-row">
                                <th class="format-header-cell">Column</th>
                                <th class="format-header-cell">Description</th>
                                <th class="format-header-cell">Required</th>
                                <th class="format-header-cell">Example</th>
                            </tr>
                        </thead>
                        <tbody class="format-table-body">
                            <tr class="format-data-row">
                                <td class="format-data-cell column-name">product_name</td>
                                <td class="format-data-cell">Name of the product</td>
                                <td class="format-data-cell required-yes">Yes</td>
                                <td class="format-data-cell example-text">Paracetamol 500mg</td>
                            </tr>
                            <tr class="format-data-row">
                                <td class="format-data-cell column-name">product_company</td>
                                <td class="format-data-cell">Manufacturer name</td>
                                <td class="format-data-cell required-yes">Yes</td>
                                <td class="format-data-cell example-text">ABC Pharma</td>
                            </tr>
                            <tr class="format-data-row">
                                <td class="format-data-cell column-name">product_packing</td>
                                <td class="format-data-cell">Packing size</td>
                                <td class="format-data-cell required-no">No</td>
                                <td class="format-data-cell example-text">10x10</td>
                            </tr>
                            <tr class="format-data-row">
                                <td class="format-data-cell column-name">product_salt</td>
                                <td class="format-data-cell">Active ingredients</td>
                                <td class="format-data-cell required-no">No</td>
                                <td class="format-data-cell example-text">Paracetamol</td>
                            </tr>
                            <tr class="format-data-row">
                                <td class="format-data-cell column-name">product_category</td>
                                <td class="format-data-cell">Product category</td>
                                <td class="format-data-cell required-no">No</td>
                                <td class="format-data-cell example-text">Analgesic</td>
                            </tr>
                            <tr class="format-data-row">
                                <td class="format-data-cell column-name">product_hsn</td>
                                <td class="format-data-cell">HSN code</td>
                                <td class="format-data-cell required-no">No</td>
                                <td class="format-data-cell example-text">30049099</td>
                            </tr>
                            <tr class="format-data-row">
                                <td class="format-data-cell column-name">product_hsn_percent</td>
                                <td class="format-data-cell">Tax percentage</td>
                                <td class="format-data-cell required-no">No</td>
                                <td class="format-data-cell example-text">12</td>
                            </tr>
                            <tr class="format-data-row">
                                <td class="format-data-cell column-name">rate_A</td>
                                <td class="format-data-cell">Rate A</td>
                                <td class="format-data-cell required-no">No</td>
                                <td class="format-data-cell example-text">5.0</td>
                            </tr>
                            <tr class="format-data-row">
                                <td class="format-data-cell column-name">rate_B</td>
                                <td class="format-data-cell">Rate B</td>
                                <td class="format-data-cell required-no">No</td>
                                <td class="format-data-cell example-text">4.5</td>
                            </tr>
                            <tr class="format-data-row">
                                <td class="format-data-cell column-name">rate_C</td>
                                <td class="format-data-cell">Rate C</td>
                                <td class="format-data-cell required-no">No</td>
                                <td class="format-data-cell example-text">4.0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}







