{% extends 'base.html' %}

{% block content %}
<div >
    <div >
        <h5 >Confirm Delete</h5>
        <p >Are you sure you want to delete user "{{ user_obj.username }}"?</p>
        <div >
            <i class="fas fa-exclamation-triangle"></i>
            Warning: This action cannot be undone. All data associated with this user will be permanently removed.
        </div>
        <form method="post">
            {% csrf_token %}
            <div >
                <a href="{% url 'user_list' %}" >
                    <i class="fas fa-times me-2"></i>Cancel
                </a>
                <button type="submit" >
                    <i class="fas fa-trash-alt me-2"></i>Delete
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}







